{namespace rkwGraphics=RKW\RkwGraphics\ViewHelpers}

<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

    <f:render partial="Chart" arguments="{_all}" />


    <!-- Build JS -->
    <f:comment>using type-variable to prevent f***ing PHPstorm from trying to analyse the following code</f:comment>
    <script type="{type}">
        var txRkwGraphicsChartOptions{contentUid} = {
            <f:comment>This comment is here to prevent fluid's parser from detecting the content of brackets</f:comment>
            chart: {
                width: 900,
                height: 600,
                type: 'bar',
                stacked: true,
               //  stackType: '100%',
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                },
            },
            stroke: {
                width: 1,
                colors: ["#fff"],
            },
            series: <rkwGraphics:bars.series data="{series}" />,
            colors: <rkwGraphics:jsArray data="{colours}" />,
            dataLabels: {
                enabled:true,
                style: {
                    fontSize: '16px',
                    fontFamily: 'ff-tisa-sans-web-pro, Arial, Tahoma, Verdana, sans-serif',
                },
                dropShadow: {
                    enabled: true,
                    top: 1,
                    left: 2,
                    blur: 3,
                    opacity: 0.45
                },
                formatter: function(val) {
                    return Math.abs(val) + '%'
                },
            },
            legend: {
                show: true,
                fontFamily: 'ff-tisa-web-pro, Times New Roman, Times, serif',
                position: 'top',
            },
            tooltip: {
                shared: false,
                x: {
                    formatter: function(val) {
                        var strArray = val.toString().split('#');
                        if (typeof strArray[1] !== 'undefined') {
                            return strArray[1]
                        }
                        return val
                    }
                },
                y: {
                    formatter: function(val) {
                        return Math.abs(val) + '%'
                    }
                },
                style: {
                    fontFamily: 'ff-tisa-sans-web-pro, Arial, Tahoma, Verdana, sans-serif',
                },
            },
            xaxis: {
                <f:comment>This comment is here to prevent fluid's parser from detecting the content of brackets</f:comment>
                categories: <rkwGraphics:jsArray data="{labels}" />,
                labels: {
                    trim : false,
                    rotate: -45,
                    <f:comment>This comment is here to prevent fluid's parser from detecting the content of brackets</f:comment>
                    minHeight: <rkwGraphics:bars.xAxisLabelHeight data="{labels}" />,
                    rotateAlways: true,
                    formatter: function(val) {
                        var strArray = val.toString().split('#');
                        if (typeof strArray[0] !== 'undefined') {
                            return strArray[0]
                        }
                        return val
                    },
                    style: {
                        fontFamily: 'ff-tisa-sans-web-pro, Arial, Tahoma, Verdana, sans-serif',
                    },
                 },

            },
            yaxis: {
                forceNiceScale : true,
                labels: {
                    trim : false,
                    formatter: function(val) {
                        return Math.abs(Math.round(val)) + '%'
                    },

                    style: {
                        fontFamily: 'ff-tisa-sans-web-pro, Arial, Tahoma, Verdana, sans-serif',
                    },
                },
            },
            responsive: [
                {
                    breakpoint: 1488,
                    options: {
                        chart: {
                            width: 750,
                        },
                    }
                },
                {
                    breakpoint: 1280,
                    options: {
                        chart: {
                            width: 500,
                        },
                    }
                },
                {
                    breakpoint: 1025,
                    options: {
                        chart: {
                            width: 600,
                        },
                    }
                },
                {
                    breakpoint: 650,
                    options: {
                        chart: {
                            width: 310,
                        },
                        plotOptions: {
                            bar: {
                                horizontal: false,
                            },
                        },
                    }
                },
            ]

        };

    </script>
</f:section>