{namespace rkwGraphs=RKW\RkwGraphs\ViewHelpers}

<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

    <f:render partial="Chart" arguments="{_all}" />

    <!-- Build JS -->
    <f:comment>using type-variable to prevent f***ing PHPstorm from trying to analyse the following code</f:comment>
    <script type="{type}">

        var txRkwGraphsChart = {
            title: <rkwGraphs:jsString data="{title}" />,
            xaxisLabel: <rkwGraphs:jsString data="{xaxisLabel}" />,
            yaxisLabel: <rkwGraphs:jsString data="{yaxisLabel}" />,
            yaxis2Show: Boolean({yaxis2Show}),
            yaxis2Label: <rkwGraphs:jsString data="{yaxis2Label}" />,
            labels: <rkwGraphs:jsArray data="{labels}" />,
            series: <rkwGraphs:bars.series data="{series}" />,
            colors: <rkwGraphs:jsarray data="{colors}" />,
            yAxisMinWidth: <rkwGraphs:bars.xAxisLabelHeight data="{labels}" />,
            xAxisMinHeight: <rkwGraphs:bars.xAxisLabelHeight data="{labels}" />,
            stacked: Boolean({stacked}),
            horizontal: Boolean({horizontal}),
            legendShow: Boolean({legendShow}),
            offsetX: <rkwGraphs:bars.offsetX data="{offsetX}" />,
        }

        var txRkwGraphsChartOptions{contentUid} = {
            chart: {
                width: 900,
                height: 600,    //  @todo: Set height to set bar heights on horizontal bar graphs
                type: 'bar',
                stacked: txRkwGraphsChart.stacked,
                //  stackType: '100%',
            },
            plotOptions: {
                bar: {
                    horizontal: txRkwGraphsChart.horizontal,
                },
            },
            title: {
                text: txRkwGraphsChart.title,
            },
            stroke: {
                width: 1,
                colors: ["#fff"],
            },
            series: txRkwGraphsChart.series,
            colors: txRkwGraphsChart.colors,
            dataLabels: {
                enabled:true,
                formatter: function(val) {
                    return Math.abs(val) + '%'
                },
            },
            legend: {
                show: txRkwGraphsChart.legendShow,
                fontFamily: 'ff-tisa-web-pro, Times New Roman, Times, serif',
                position: 'top',
            },
            tooltip: {
                shared: false,
                x: {
                    formatter: function(val) {
                        var strArray = val.toString().split('#');
                        if (typeof strArray[1] !== 'undefined') {
                            return strArray[1]
                        }
                        return val
                    }
                },
                y: {
                    formatter: function(val) {
                        return Math.abs(val) + '%'
                    }
                },
                style: {
                    fontFamily: 'ff-tisa-sans-web-pro, Arial, Tahoma, Verdana, sans-serif',
                },
            },
            xaxis: {
                title: {
                    text: txRkwGraphsChart.xaxisLabel,
                },
                categories: txRkwGraphsChart.labels,
                labels: {
                    trim : false,
                    rotate: -45,
                    minHeight: txRkwGraphsChart.xAxisMinHeight,
                    rotateAlways: true,
                    formatter: function(val) {
                        var strArray = val.toString().split('#');
                        if (typeof strArray[0] !== 'undefined') {
                            return strArray[0]
                        }
                        return val
                    },
                    style: {
                        fontFamily: 'ff-tisa-sans-web-pro, Arial, Tahoma, Verdana, sans-serif',
                    },
                 },

            },
            yaxis: [{
                title: {
                    text: txRkwGraphsChart.yaxisLabel,
                    style: {
                        color: ''
                    }
                },
                forceNiceScale : true,
                labels: {
                    trim : false,
                    minWidth: txRkwGraphsChart.yAxisMinWidth,
                    formatter: function(val) {
                        if (isNaN(val)) {
                            var strArray = val.toString().split('#');
                            if (typeof strArray[0] !== 'undefined') {
                                return strArray[0]
                            }
                            return val
                        }
                        return Math.abs(Math.round(val)) + '%'
                    },
                    style: {
                        fontFamily: 'ff-tisa-sans-web-pro, Arial, Tahoma, Verdana, sans-serif',
                    },
                }
            }],
            responsive: [
                {
                    breakpoint: 1488,
                    options: {
                        chart: {
                            width: 750,
                        },
                    }
                },
                {
                    breakpoint: 1280,
                    options: {
                        chart: {
                            width: 500,
                        },
                    }
                },
                {
                    breakpoint: 1025,
                    options: {
                        chart: {
                            width: 600,
                        },
                    }
                },
                {
                    breakpoint: 650,
                    options: {
                        chart: {
                            width: 310,
                        },
                        plotOptions: {
                            bar: {
                                horizontal: false,
                            },
                        },
                    }
                },
            ]

        };

        //  update options, if necessary
        if (txRkwGraphsChart.yaxis2Show) {
            <f:comment>This comment is here to prevent fluid's parser from detecting the content of brackets</f:comment>

            var ycolor = txRkwGraphsChart.colors[0];
            var y2color = txRkwGraphsChart.colors[1];

            txRkwGraphsChartOptions{contentUid}.yaxis[0].title.style.color = ycolor;
            txRkwGraphsChartOptions{contentUid}.yaxis[0].labels.style.color = ycolor;

            var yaxis2 = {
                opposite: true,
                labels: {
                    style: {
                        color: y2color
                    }
                },
                title: {
                  text: txRkwGraphsChart.yaxis2Label,
                  style: {
                    color: y2color
                  }
                },
            }

            txRkwGraphsChartOptions{contentUid}.yaxis.push(yaxis2);
        }

        if (txRkwGraphsChart.offsetX !== null && txRkwGraphsChart.offsetX.length > 0) {
            <f:comment>This comment is here to prevent fluid's parser from detecting the content of brackets</f:comment>

            txRkwGraphsChartOptions{contentUid}.yaxis[0].min = Math.min(...txRkwGraphsChart.offsetX);
            //  @todo: txRkwGraphsChartOptions{contentUid}.yaxis[0].max = Math.min(...txRkwGraphsChart.offsetX) + highest sum of values;
            txRkwGraphsChartOptions{contentUid}.plotOptions.bar.offsetX = txRkwGraphsChart.offsetX;
        }

    </script>
</f:section>