{namespace rkwGraphs=RKW\RkwGraphs\ViewHelpers}

<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

    <f:render partial="Chart" arguments="{_all}" />


    <!-- Build JS -->
    <f:comment>using type-variable to prevent f***ing PHPstorm from trying to analyse the following code</f:comment>
    <script type="{type}">

        //  dynamic variable names to prevent interruption by fluid parser
        var txRkwGraphsChartOptions = 'txRkwGraphsChartOptions' + {contentUid};
        var txRkwGraphsChartInit = 'txRkwGraphsChartInit' + {contentUid};

        //  copy scope to self to use it even within chart callbacks
        var self = this;

        self[txRkwGraphsChartInit] = {
            title: <rkwGraphs:jsString data="{title}" />,
            xaxisLabel: <rkwGraphs:jsString data="{xaxisLabel}" />,
            yaxisLabel: <rkwGraphs:jsString data="{yaxisLabel}" />,
            labels: <rkwGraphs:jsArray data="{labels}" />,
            series: <rkwGraphs:candlesticks.series data="{series}" />,
            colors: <rkwGraphs:candlesticks.colors data="{colors}" />,
            yAxisMinWidth: <rkwGraphs:bars.xAxisLabelHeight data="{labels}" />,
            xAxisMinHeight: <rkwGraphs:bars.xAxisLabelHeight data="{labels}" multiplier="8.5" />,
            legendShow: Boolean({legendShow}),
        }

        self[txRkwGraphsChartOptions] = {
            chart: {
                type: 'candlestick',
            },
            series: self[txRkwGraphsChartInit].series,
            plotOptions: {
                candlestick: {
                    colors: self[txRkwGraphsChartInit].colors
                }
            },
            title: {
                text: self[txRkwGraphsChartInit].title,
            },
            legend: {
                show: self[txRkwGraphsChartInit].legendShow,
            },
            tooltip: {
                shared: false,
                x: {
                    formatter: function(val) {
                        var strArray = val.toString().split('#');
                        if (typeof strArray[1] !== 'undefined') {
                            return strArray[1]
                        }
                        return val
                    }
                },
                y: {
                    formatter: function(val) {
                        return Math.abs(val) + '%'
                    }
                },
            },
            xaxis: {
                title: {
                    text: self[txRkwGraphsChartInit].xaxisLabel,
                },
                categories: self[txRkwGraphsChartInit].labels,
                labels: {
                    trim : false,
                    rotate: -90,
                    minHeight: self[txRkwGraphsChartInit].xAxisMinHeight,
                    rotateAlways: true,
                }
            },
            yaxis: {
                title: {
                    text: self[txRkwGraphsChartInit].yaxisLabel,
                },
                forceNiceScale: true,
            },
        };

    </script>
</f:section>