{namespace rkwGraphs=RKW\RkwGraphs\ViewHelpers}

<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

    <f:render partial="Chart" arguments="{_all}" />

    <!-- Build JS -->
    <f:comment>using type-variable to prevent f***ing PHPstorm from trying to analyse the following code</f:comment>
    <script type="{type}">

        var txRkwGraphsChart = {
            labels: <rkwGraphs:jsArray data="{labels}" />,
            series: <rkwGraphs:jsArray data="{series}" checkFloat="true" />,
            colors: <rkwGraphs:jsArray data="{colors}" />,
            yAxisMinWidth: <rkwGraphs:bars.xAxisLabelHeight data="{labels}" />,
            xAxisMinHeight: <rkwGraphs:bars.xAxisLabelHeight data="{labels}" />,
            legendShow: Boolean({legendShow}),
        }

        var txRkwGraphsChartOptions{contentUid} = {
            chart: {
                height: 400,
                type: 'donut',
            },
            labels: txRkwGraphsChart.labels,
            series: txRkwGraphsChart.series,
            fill: {
                colors: txRkwGraphsChart.colors,
            },
            colors: txRkwGraphsChart.colors,
            dataLabels: {
                enabled: true,
            },
            legend: {
                show: txRkwGraphsChart.legendShow,
            },
            tooltip: {
                enabled: false,
            },
            responsive: [
                {
                    breakpoint: 1200,
                    options: {
                        chart: {
                            height: 'auto',
                        },
                        legend: {
                            position: 'bottom',
                        }
                    }
                },
                {
                    breakpoint: 1025,
                    options: {
                        chart: {
                            height: 400,
                        },
                        legend: {
                            position: 'right',
                        }
                    }
                },
                {
                    breakpoint: 769,
                    options: {
                        chart: {
                            height: 'auto',
                        },
                        legend: {
                            position: 'bottom',
                        }
                    }
                },
            ]
        };

    </script>
</f:section>