{namespace rkwGraphs=RKW\RkwGraphs\ViewHelpers}

<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

    <div id="app">

        <apexchart type="donut" :options="chartOptions" :series="series"></apexchart>

    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/apexcharts"></script>
    <script src="https://unpkg.com/vue-apexcharts"></script>

    <script>

        new Vue({
                    el: '#app',
                    components: {
                        apexchart: VueApexCharts,
                    },
                    data: {
                        series: <rkwGraphs:jsArray data="{series}" checkFloat="true" />,
                        chartOptions: {
                            chart: {
                                height: 400,
                                type: 'donut',
                                toolbar: {
                                    show: true
                                }
                            },
                            labels: <f:format.raw><rkwGraphs:jsArray data="{labels}" /></f:format.raw>,
                            colors: <f:format.raw><rkwGraphs:jsArray data="{colors}" /></f:format.raw>,
                            dataLabels: {
                                enabled: true,
                            },
                            legend: {
                                show: <f:format.raw>{legendShow}</f:format.raw>,
                            },
                            tooltip: {
                                enabled: false,
                            },
                            responsive: [
                                {
                                    breakpoint: 1200,
                                    options: {
                                        chart: {
                                            height: 'auto',
                                        },
                                        legend: {
                                            position: 'bottom',
                                        }
                                    }
                                },
                                {
                                    breakpoint: 1025,
                                    options: {
                                        chart: {
                                            height: 400,
                                        },
                                        legend: {
                                            position: 'right',
                                        }
                                    }
                                },
                                {
                                    breakpoint: 769,
                                    options: {
                                        chart: {
                                            height: 'auto',
                                        },
                                        legend: {
                                            position: 'bottom',
                                        }
                                    }
                                },
                            ]
                        },


                    },

                })
    </script>
</f:section>